<div class="my-2">
  <div class="input-group flex-nowrap my-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">Buscar</span>
    </div>
    <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <table class="table table-hover table-dark">
    <thead>
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Codigo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Description</th>
        <th scope="col">Precio</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productos">
        <th scope="row">{{item.productId}}</th>
        <td>{{ item.productName }}</td>
        <td>{{ item.productCode }}</td>
        <td>{{ item.releaseDate }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.starRating }}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="isLoading">
    <div class="spinner-border text-default" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
