<div class="my-2">
  <div class="input-group flex-nowrap my-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">Buscar</span>
    </div>
    <input type="text" class="form-control" placeholder="..." aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <table class="table table-hover table-dark">
    <thead>
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Empleo</th>
        <th scope="col">Email @</th>
        <th scope="col">Nombres y Apellidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <th scope="row">{{item.ID}}</th>
        <td>{{item.JobTitle}}</td>
        <td>{{item.EmailAddress}}</td>
        <td>{{item.FirstNameLastName}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="isLoading">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
