<div class="mt-1">
  <div class="card my-2" style="width: 18rem;">
    <img src="../../../assets/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">  and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="shadow-none p-3 mb-5 bg-light rounded">Welcome 2022 - Habla pe</div>
  <p>
    <input type="text" [(ngModel)]="msg">
             <input type = "button" (click) = "click ()" value = "cambio de información">
</p>
<div>
  <button (click)="ejecutar()" class="btn btn-primary"> Iniciar Session !</button>
</div>
</div>
